<div class="container">
  <h1> {{employee.firstname}}</h1>
<div class="row">
  <div class="col-sm-4">
    <div class="card mb-3">
      <img src="https://images.unsplash.com/photo-1514316703755-dca7d7d9d882?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" height="200"  alt="...">
      <div class="card-body">
        <h5 class="card-title">black convertible coupe on road</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum sapiente vel consequatur ex laboriosam dolor, s</p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card mb-3">
      <img src="https://images.unsplash.com/photo-1514316703755-dca7d7d9d882?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" height="200"  alt="...">
      <div class="card-body">
        <h5 class="card-title">black convertible coupe on road</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum sapiente vel consequatur ex laboriosam dolor, s</p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card mb-3">
      <img src="https://images.unsplash.com/photo-1514316703755-dca7d7d9d882?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" height="200"  alt="...">
      <div class="card-body">
        <h5 class="card-title">black convertible coupe on road</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum sapiente vel consequatur ex laboriosam dolor, s</p>
        
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card mb-3">
      <img src="https://images.unsplash.com/photo-1514316703755-dca7d7d9d882?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" height="200"  alt="...">
      <div class="card-body">
        <h5 class="card-title">black convertible coupe on road</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum sapiente vel consequatur ex laboriosam dolor, s</p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card mb-3">
      <img src="https://drop.ndtv.com/albums/AUTO/2018_honda_jazz_facelift/thumb_640x480.jpg" class="card-img-top" height="200"  alt="...">
      <div class="card-body">
        <h5 class="card-title">New Arrival</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit velit facilis rem quaerat soluta quam et fuga do</p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card mb-3">
      <img src="https://images.unsplash.com/photo-1514316703755-dca7d7d9d882?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" height="200"  alt="...">
      <div class="card-body">
        <h5 class="card-title">black convertible coupe on road</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum sapiente vel consequatur ex laboriosam dolor, s</p>
        
      </div>
    </div>
  </div>
</div>
</div>