<ul class="nav justify-content-center">

  <li class="nav-item">
    <a class="nav-link" routerLink="/home">HOME</a>
  </li> 

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">POSTS</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#reviews">one</a>
      <a class="dropdown-item" href="#images">two</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#latestmodels">three</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">PAGES</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#one">one</a>
      <a class="dropdown-item" href="#two">two</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#three">three</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ELEMENTS</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#one">one</a>
      <a class="dropdown-item" href="#two">two</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#three">three</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/buyit">BUY IT NOW</a>
  
  </li>
</ul>





















